/* -------------------- IMPORTED FONTS -------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Habibi&family=Irish+Grover&display=swap');

/*-------------------- CSS RESET ---------------------------------------------------*/
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
/*Previous Versions
v1.0 (200802)
Acknowledgments
Thanks to Paul Chaplin for the blockquote / q rules.*/

/* -------------------- ROOT VARIABLES --------------------------------------- */
:root {
    --green:#06A816;
    --orange:#E75D02;  
    --black: #000000; 
    --white: #ffffff; 

}

/* --------------------GLOBAL STYLES (mobile first/small) --------------------*/
html {
    font-family: habibi;
}

body {
    height:100vh;
    padding: 10px;
    min-width: 428px;
    display: grid;
    grid-template-areas:
    "header"
    "main main"
    "footer footer";
   grid-template-columns: 1fr;
}

header, footer {
    background-color: green;
    color: white;
    
}

header {
  padding-bottom: -5px;
  text-align: center;
  
}

nav {
  display: grid;
  grid-template-columns: 1fr;
  background-color: white;
  align-items: center;
}

ul li {
  list-style-type: none; 
}

.button {
  text-align: center;
  background-color: #E75D02;
  border: #ffffff 5px;
  border: solid 1px white; 
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 214px;
  margin-left: 90px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.button a {
  text-decoration: none;
  color: white;

}
.fixed {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color:#E75D02;
  padding: 10px; 
  border: solid 1px white; 
  border-radius: 5px;
}

.fixed a {
  color: white;
  text-decoration: none;
  
}

h1 {
    font-size: 2.5em; 
}

h2 {
    font-size: 1.75em;
}

ul li {
    list-style: none; 
}

h3, p {
    font-size: 1.25em;
}

h3 {
  text-align: center;
}
.title {
    text-shadow: 2px 2px black;
    font-family: irish grover;
    top: 5px;
}

.title, .fresh {
    color:white;
    position: relative; 
    left: 10px;
}

.fresh {
    font-family: habibi;
    font-style: italic;
}

h1, h2, h3 {
    font-family: irish grover;
}

figure {
 margin-left:80px;

}
figcaption {
  text-align: center;
  position: relative;
  bottom: 50%;
  left: 25%;
  color: var(--white); 
  background:rgba(0, 0, 0, .6); 
  justify-content: center;
   width: 100px;
}


.parent { 
  display: grid;
  margin: auto;
}

#contact h2 {
  padding-top: 30px;
  margin: auto;
  text-align: center;
}

#contact a {
  text-decoration: none;
  color: var(--white);
}

address {
  margin: auto;
  text-align: center;
  padding-bottom: 30px;
}

#hours {
  margin: auto; 
  text-align: center;
}

table {
  text-align: center;
  margin: auto;
}

#copyright {
  margin: auto;
  clear: both; 
  text-align: center;
  background-color: var(--white);
  color: var(--green);

}
/*-------------------- MEDIA QUERY (medium) --------------------------------*/
@media screen and (min-width:834px) {

  header {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  header p {
    margin-top: 20px;
  }
 
  nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
  }

.parent {
  display: grid;
  grid-template-columns: 1fr 1fr;

}
#contact {
  display: grid;
  grid-template-columns: 1fr 1fr; 
}
#hours {
  display: grid;
  grid-template-columns: 1fr 1fr; 
}
}

/*-------------------- MEDIA QUERY (large) ------------------------------------*/
/*-------------------- MEDIA QUERY (xl) ---------------------------------------*/
@media screen and (min-width:1400px) {
  body {display: grid;
  grid-template-areas: 
  "header nav"
  "main"
  "footer footer";
  }

  nav {
    grid-area: nav;
    display: grid;
  }
  .parent {
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-column: 1/4;
    grid-row: 1/4;
    gap: 30px;
    padding: 10px;
  }

  figcaption {
    text-align: center;
    position: relative;
    bottom: 50%;
    color: white;
    background:rgba(0, 0, 0, .6); 
  }

  .button {
    position:relative; 
    display: inline-block;
    text-align: center;
    background-color: #E75D02;
    padding: 5px 70px 5px 70px;
    border: #ffffff 5px;
    bottom: 40px;
    margin: 20px;
    border: solid 1px white; 
    border-radius: 5px;
  }

  #contact  {
    float:left;
    position: relative; 
    top: 30px;
    left: 40px;
}

#contact h2 {
  float: left;
  padding-right: 30px;
}

#contact address {
  position: relative; 
  left: 225px;
  top: -45px; 
}

  th {
    text-align: right;
}

table {
  right: 70px;
  position: relative; 
  text-align: center;
}
#hours h2 {
  float: left; 
  position: relative;
  top: 30px;
  right: 200px;
}

#hours {
    float: right;
    position: relative;
}


}