/* -------------------- IMPORTED FONTS -------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Habibi&family=Irish+Grover&display=swap');

/*-------------------- CSS RESET ---------------------------------------------------*/
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
/*Previous Versions
v1.0 (200802)
Acknowledgments
Thanks to Paul Chaplin for the blockquote / q rules.*/

/* -------------------- ROOT VARIABLES --------------------------------------- */
:root {
    --green:#06A816;
    --orange:#E75D02;  
    --black: #000000; 
    --white: #ffffff; 

}

/* --------------------GLOBAL STYLES (mobile first/small) --------------------*/
html {
    font-family: habibi;
}

body {
    margin: 0 auto;
    padding: 2px;
    max-width: 1440px;
    min-width: 428px;
    display: grid;
    grid-template-areas: 
    "header nav"
    "main"
    "footer footer";
}

header, footer {
    background-color: green;
    color: white;
}

nav {
  grid-area: nav;
  float: right;
  display: flex; 
}

ul li {
  list-style-type: none; 
}

.button {
  position:relative; 
  display: inline-block;
  justify-content: space-between;
  text-align: center;
  background-color: #E75D02;
  padding: 5px 70px 5px 70px;
  border: #ffffff 5px;
}

.button a {
  text-decoration: none;
  color: white;

}
.fixed {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color:#E75D02;
  padding: 10px; 
}

.fixed a {
  color: white;
  text-decoration: none;
}


h1 {
    font-size: 2.5em; 
}

h2 {
    font-size: 1.75em;
}

ul li {
    list-style: none; 
}

h3, p {
    font-size: 1.25em;
}

.title {
    text-shadow: 2px 2px black;
    font-family: irish grover;
    top: 5px;
}

.title, .fresh {
    color:white;
    position: relative; 
    left: 10px;
}

.fresh {
    font-family: habibi;
    font-style: italic;
}

h1, h2, h3 {
    font-family: irish grover;
}

.flexparent {
  display: grid; 
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-column: 1/4;
  grid-row: 1/4;
  gap: 30px;
}

#apples {
  position: absolute; 
  top: 50%;
  left: 10%;
  transform: translate(-50%,-50%); 

}

th {
    text-align: right;
}


#hours {
    float: right;
}

.contact  {
    float:left;
}



/*-------------------- MEDIA QUERY (medium) --------------------------------*/
/*-------------------- MEDIA QUERY (large) ------------------------------------*/
/*-------------------- MEDIA QUERY (xl) ---------------------------------------*/